.top{
    margin-bottom: 30px;        
}
.btn-success{
    margin: 7px;
}
.principal{
    background-color: darkorange;
    min-height: 250px;
    padding-top: 40px;
}
.item{
    background-color: ivory;
    font-size: 2rem;
    border:1px solid activecaption;
    border-radius: 3px;
}
